
EFI/CLOVER/._config.plist

EFI/CLOVER/ACPI/patched/._SSDT-PNLF.aml

EFI/CLOVER/drivers/BIOS/._AppleImageLoader-64.efi

EFI/CLOVER/drivers/BIOS/._GrubEXFAT-64.efi

EFI/CLOVER/themes/osxinfo/._background.png

EFI/CLOVER/themes/osxinfo/._checkbox_checked.png

EFI/CLOVER/themes/osxinfo/._checkbox.png

EFI/CLOVER/themes/osxinfo/._Font_KawkabMono_16pt_White.png

EFI/CLOVER/themes/osxinfo/._icons

EFI/CLOVER/themes/osxinfo/._logo.png

EFI/CLOVER/themes/osxinfo/._radio_button_selected.png

EFI/CLOVER/themes/osxinfo/._radio_button.png

EFI/CLOVER/themes/osxinfo/._scrollbar

EFI/CLOVER/themes/osxinfo/._Selection_big.png

EFI/CLOVER/themes/osxinfo/._Selection_small.png

EFI/CLOVER/themes/osxinfo/._theme.plist

EFI/CLOVER/themes/osxinfo/.hash

EFI/CLOVER/themes/osxinfo/icons/._Alternate

EFI/CLOVER/themes/osxinfo/icons/._boot_linux.icns

EFI/CLOVER/themes/osxinfo/icons/._boot_win.icns

EFI/CLOVER/themes/osxinfo/icons/._boot_win8.icns

EFI/CLOVER/themes/osxinfo/icons/._cd_lin.icns

EFI/CLOVER/themes/osxinfo/icons/._cd_mac.icns

EFI/CLOVER/themes/osxinfo/icons/._cd_win.icns

EFI/CLOVER/themes/osxinfo/icons/._cd.icns

EFI/CLOVER/themes/osxinfo/icons/._func_about.png

EFI/CLOVER/themes/osxinfo/icons/._func_clover.png

EFI/CLOVER/themes/osxinfo/icons/._func_help.png

EFI/CLOVER/themes/osxinfo/icons/._func_options.png

EFI/CLOVER/themes/osxinfo/icons/._func_reset.png
